<%- include ("../../partials/header.ejs")%>

<body>
    <%- include ("../../partials/adminnavbar.ejs")%>
    <div class="container">
        <br>
        <div class="card-header">
            <h1>Usuários</h1>
            <br>
            <%- include ("../../partials/_msg.ejs")%>
            <a class="btn btn-danger" href="/admin/usuario/criar">Criar usuário</a>
            <hr>
            <form action="/admin/usuario/lista" method="GET">
                <input type="text" name="nome" id="nome" class="form-control" placeholder="Buscar usuário">
                <br>
                <button class="btn btn-danger" type="submit">Pesquisar</button>
            </form>
        </div>
        <div class="card-body">
            <table id="listar-produtos" class="table table-bordered">
                <thead>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Visualizar Endereço</th>
                    <th scope="col">Visualizar Telefone</th>
                </thead>
                <tbody>
                    <% usuarios.forEach(usuario=>{ %>
                    <tr>
                        <td><%=usuario.id %></td>
                        <td><%=usuario.nome %></td>
                        <td><%=usuario.sobrenome %></td>
                        <td><%=usuario.email %></td>
                        <td><%=usuario.cpf %></td>
                        <td><a href="/admin/usuario/endereco/<%= usuario.id %>" class="btn btn-primary">Ver</a></td>
                        <td><a href="/admin/telefone/criar/<%= usuario.id %>" class="btn btn-warning">Ver</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include ("../../partials/footer.ejs")%>