<%- include ("../../partials/header.ejs")%>

<body>
    <%- include ("../../partials/adminnavbar.ejs")%>
    <div class="container">
        <br>
        <div class="card-header">
            <h1>Editar categoria</h1>
        </div>
    </div>

    <%- include ("../../partials/erros.ejs")%>

    <br>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form action="/admin/categoria/atualizar" method="POST">
                    <label for="nome">Nome : </label>
                    <input id="nome" name="nome" type="text" placeholder="Insira o nome da categoria"
                        value="<%= categoria.nome %>" class="form-control">
                    <label for="descricao">Descrição : </label>
                    <input id="descricao" name="descricao" type="text" placeholder="Insira a descrição da categoria"
                    value="<%= categoria.descricao %>" class="form-control">
                    <br>
                    <input type="hidden" name="id" id="id" value="<%= categoria.id %>">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>  
        </div>        
    </div>
</body>

<%- include ("../../partials/footer.ejs")%>